{% extends 'base/signin_base.html' %}

{% block page_title %}Sign Up - Organizer{% endblock page_title %}

{% set stylesheet_file = 'styles/signup_organizer.css' %}

{% block content %}
    <div class="container">
        <div class="signup-container">
            <div class="signup-form">
                <h2>Organizer Sign Up</h2>
                <form action="/submit_organizer_signup" method="POST">
                    <div class="mb-3 pt-4">
                        <input type="text" class="form-control "  id="name" name="name" placeholder="Name" required>
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" required>
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="brief_intro" name="brief_intro" placeholder="Brief Introduction (Optional)" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Sign Up</button>
                </form>
                <div class="text-center mt-3">
                    <a href="/login" class=su-link >Already have an account? Login</a>
                </div>
            </div>
            <img src="{{ url_for('static', filename='images/signup-organizer.jpg') }}" alt="Sign Up Image"> <!-- Replace with your image path -->
        </div>
    </div>
{% endblock %}